@import "/styles/theme.scss";

.content {
  width: 300px;
  min-height: calc(100vh - 3.125rem);
  padding: 100px 60px 0px 0px;
  position: absolute;
  right: 0;

  .list {
    list-style: none;
    text-align: right;
    font-family: $main-font;
    font-size: 18px;
    color: $secondary-black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-end;
    cursor: pointer;

    .listItem {
      position: relative;
      right: 0px;
      transition: all 500ms ;

      &:hover {
        color: $main;        
        right: 10px;
      }
    }

    .listFooter {
      font-size: 16px;
    }

  }

  .listSeparator {
    width: 30px;
    height: 1px;
    background-color: $main;
    margin: 10px 0;
    margin-left: auto;
  }

}

