@import "/styles/theme.scss";

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .contentImage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;

    $font-size: 225px;

    p {
      margin: 0;
      position: absolute;
      top: calc(325px - $font-size / 2);
      left: 0;
      color: $main-secondary;
      z-index: 1;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: $main-secondary;
      font-size: $font-size;
      line-height: 170px;
      font-family: $main-font;
      font-weight: 900;
      text-transform: uppercase;
    }

    p:nth-child(1) {
      font-size: $font-size;
      z-index: 0;
      margin: 0;
    }

    .overlay {
      color: transparent;
    }

  }

  .contentFooter {
    width: 100%;
    max-width: 340px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .line {
      width: 0.125rem;
      height: 70%;
      background-color: $main;
      position: absolute;
    }

    .titleContact {
      font-family: $main-font;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.313rem;
      color: $strong-gray;
      padding-left: 2.188rem;
    }

    .contentContact {
      width: 550px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 1.563rem;
      padding-left: 2.188rem;
  
      .contentInformation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;

        .icon {
          font-size: 1.375rem;
          color: $main;
        }
        
        span {
          font-family: $main-font;
          font-weight: bold;
          color: $strong-gray;
          font-size: 1rem;
        }
      }
        
    }
  }

}