@import "/styles/theme.scss";

.content {
  width: 100%;
  min-height: calc(100vh - 3.125rem);
  display: flex;
  flex-direction: column;

  .contentImage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 34.375rem;
    margin: 0 auto;

    $font-size: 14.063rem;

    p {
      margin: 0;
      position: absolute;
      top: calc(20.313rem - $font-size / 2);
      left: 0;
      color: $main-secondary;
      z-index: 1;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: $main-secondary;
      font-size: $font-size;
      line-height: 10.625rem;
      font-family: $main-font;
      font-weight: 900;
      text-transform: uppercase;
    }

    p:nth-child(1) {
      font-size: $font-size;
      z-index: 0;
      margin: 0;
    }

    .overlay {
      color: transparent;
    }

  }

  .contentFooter {
    width: 100%;
    max-width: 21.25rem;
    margin: 1.5rem auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .line {
      width: 0.125rem;
      height: 70%;
      background-color: $main;
      position: absolute;
    }

    .titleContact {
      font-family: $main-font;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.313rem;
      color: $strong-gray;
      padding-left: 2.188rem;
    }

    .contentContact {
      width: 34.375rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 1.563rem;
      padding-left: 2.188rem;
  
      .contentInformation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;

        .icon {
          font-size: 1.375rem;
          color: $main;
        }
        
        span {
          font-family: $main-font;
          font-weight: bold;
          color: $strong-gray;
          font-size: 1rem;
        }
      }
        
    }
  }

}

@media(max-width: 1250px) {
  .content {
    .contentImage {
      p {
        font-size: 9.375rem;
        z-index: 0;
      }

      p:nth-child(1) {
        font-size: 9.375rem;
      }
    }

    .contentFooter {
      .contentContact {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.125rem;
        width: 28.125rem;
      }
    }

  }
}

@media(max-width: 650px) {
  .content {

    .contentImage {
      
      p {
        font-size: 8.125rem;
      }

      p:nth-child(1) {
        font-size: 8.125rem;
      }

    }
    
    .contentFooter {

      .contentContact {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.125rem;
        width: 100%;
      }

    }
    
  }
}