@import "/styles/theme.scss";

.content {
  width: 100%;
  min-height: 3.125rem;
  background: $primary-black;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3.75rem;

  .copyright {
    color: #BDBDBD;
    font-family: $main-font;
    font-weight: lighter;
    font-size: 0.625rem;
  }

  .list {
    list-style: none;
    display: flex;
    gap: 0.938rem;
    margin-left: auto;
  }

  button {
    border: none;
    color: $primary-black;
    width: 1.875rem;
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #999999;

    &:hover {
      filter: brightness(0.9);
      cursor: pointer;
    }

  }

}

@media(max-width: 650px) {
  .content {
    padding: 0.625rem 0rem;

    .copyright {
      text-align: center;
      margin-bottom: 0.625rem;
    }

    .list {
      padding: 0;
      margin: auto;
    }
  }
}