$main: #FF8585;
$main-secondary: #FFDADA;
$background: #FFFFFF;
$primary-black: #000000;
$secondary-black: #333333;
$primary-gray: #F5F5F5;
$secondary-gray: #BDBDBD;
$tertiary-gray: #666666;

$main-font: 'Poppins', sans-serif;