$main: #FF8585;
$main-secondary: #FFDADA;
$background: #FFFFFF;
$primary-black: #000000;
$secondary-black: #333333;
$light-gray: #F5F5F5;
$medium-gray: #BDBDBD;
$intermedium-gray: #C4C4C4;
$strong-gray: #666666;

$main-font: 'Poppins', sans-serif;